.header {
  background-color: var(--background-color);
  padding: 5px;
}

.header-nav__logo,
.header-banner__title {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
}

.header-nav__menu-item {
  /*display: block;*/
  text-decoration: none;
  color: var(--text-color);
}

.header-nav__menu-item:hover {
  text-decoration: underline;
}

.list {
  list-style: none;
}

@media (min-width: 500px) {
  .header-nav > .container {
    display: flex;
    justify-content: space-around;
  }

  .header-nav__menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  }
}

.header-banner {
  background-image: url(../img/baby-yoda.svg);
  background-position: center;
  background-size: cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
